/bAnimalCare/target/apidocs/*.html
/bAnimalCare/.settings/*.prefs
*.html
*.class
*.gif
*.jar
*.classpath
*.project
*.css
*.xml
*.prefs
*.properties
*.txt
package-list
/bInfoBooks/target/classes

/bFundamentals/target/classes/plugin.yml
/bFundamentals/target/test-classes/config.yml

/bPotioned/target/classes
